* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}


.header1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    height: 100px;
    
}
.header1 a {
    display: grid;
    justify-self: end;
    align-self: center;
    padding-right: 20px;
}
.header1 div {
    display: grid;
    grid-template-columns: auto 1fr;
}
.header1>*:nth-child(2){
    transform: translateX(-20%);
    font-size: 1.1em;
}


    
    

.logosize {
    width: 70px;
    height: 70px;
    padding-left: 10px;
    transform: translateX(15%);
}

.bigger {
    font-size: 1.5em;
    font-family: 'Rock Salt', cursive;
    font-weight: 900;
    font-stretch: extra-expanded;
    color: whitesmoke;
    align-self: center;
    text-shadow: 2px 2px 20px red;
    
}

@media only screen and (min-width: 500px) {
    .header1>*:nth-child(2){
        transform: translateX(-20%);
        font-size: 1.6em;
    } 
}

@media only screen and (min-width: 1000px) {
    .header1>*:nth-child(2){
        transform: translateX(-20%);
        font-size: 2.2em;
    } 
}
@media only screen and (min-width: 1500px) {
    .header1>*:nth-child(2){
        transform: translateX(-20%);
        font-size: 3.5em;
    } 
}
