* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.header1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  height: 100px;
}

.header1 a {
  display: grid;
  justify-self: end;
  align-self: center;
  padding-right: 20px;
}

.header1 div {
  display: grid;
  grid-template-columns: auto 1fr;
}

.logosize {
  width: 70px;
  height: 70px;
  padding-left: 10px;
  transform: translateX(15%);
}

.bigger {
  font-size: 1.5em;
  font-family: "Rock Salt", cursive;
  font-weight: 900;
  font-stretch: extra-expanded;
  color: whitesmoke;
  align-self: center;
  text-shadow: 2px 2px 20px red;
}

footer {
  display: grid;
  grid-template-rows: auto auto;
  place-content: center;
  min-height: 20vh;
  row-gap: 20px;
  background-color: black;
}

.info {
  order: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

.copyright {
  display: grid;
  place-items: center;
  order: 1;
}

.copyright p {
  font-size: 0.7em;
}

.makeitround {
  width: 100px;
  height: 50px;
  border-radius: 20px;
}

.whitetext {
  color: whitesmoke;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.hide1 {
  display: none;
}

@media only screen and (min-width: 450px) {
  .info > *:nth-child(2) {
    display: none;
  }

  .hide1 {
    display: grid;
    color: whitesmoke;
  }
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  width: 100%;
  background-color: rgb(174, 168, 133);
  display: grid;
  place-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.aboutdiv {
  display: grid;
  place-items: center;
}

section, article {
  width: 80%;
}

article {
  padding-top: 10px;
  border: 0;
  border-top: 8px;
  border-style: solid;
  display: grid;
  row-gap: 20px;
  text-indent: 2em;
}

section {
  border: 0;
  padding-bottom: 10px;
}

main h2 {
  font-size: 2.5em;
  font-family: "Rock Salt", cursive;
  padding: 10px;
}

article p {
  font-family: "Rock Salt", cursive;
}

.embed1 {
  width: 80%;
  height: 20vh;
  padding-bottom: 10px;
}

.embed2 {
  width: 80%;
  padding: 10px;
}

.embedcenter {
  display: grid;
  place-items: center;
  min-width: 80%;
}

details {
  width: 80%;
  place-items: center;
}

.viddivpage {
  width: 100%;
  display: grid;
  place-items: center;
}

.fordesktop {
  display: none;
}

@media only screen and (min-width: 600px) {
  .viddivpage {
    grid-template-columns: 1fr 1fr;
    border: 0;
    padding: 0;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }

  .viddivpage > *:nth-child(2) {
    display: grid;
    justify-self: end;
  }

  .viddivpage > *:nth-child(3) {
    display: grid;
    justify-self: start;
  }

  .aboutdiv {
    grid-template-rows: auto;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
}
@media only screen and (min-width: 1000px) {
  .fordesktop {
    display: grid;
    text-align: right;
  }

  .viddivpage {
    grid-template-columns: 1fr 2fr;
    height: 40vh;
  }

  .viddivpage > *:nth-child(2) {
    display: none;
  }

  .viddivpage > *:nth-child(3) {
    justify-self: start;
  }

  .embed1 {
    height: 35vh;
    border-radius: 50px;
  }

  section {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5vh;
  }

  section img {
    border-radius: 5px;
  }

  #photo3 {
    transform: translateX(95%) scale(1.1);
    transition: transform 1.5s ease-in-out;
  }

  #photo3:hover {
    transform: translateX(50%) translateY(-50%) scale(2.5);
  }

  #photo1 {
    transform: scale(1.1);
    transition: transform 1.5s ease-in-out;
  }

  #photo1:hover {
    z-index: 2;
    transform: translateX(50%) translateY(50%) scale(2.5);
  }

  #photo2 {
    transform: translateX(-50%) translateY(50%);
    z-index: 1;
    transition: transform 1.5s ease-in-out;
  }

  #photo2:hover {
    transform: translateX(-50%) translateY(50%) scale(2.5);
  }

  #photo3:hover {
    z-index: 2;
  }
}/*# sourceMappingURL=about.css.map */