* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    display: grid;
    grid-template-rows: 7vh 60vh 33vh;
}

main {
    background-image: url("pizzafalme.jpg");
    width: 100%;
}
.moveleft {
    width: 40%;
}
.logosize {
    width: 70px;
    height: 70px;
}