* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.header1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  height: 100px;
}

.header1 a {
  display: grid;
  justify-self: end;
  align-self: center;
  padding-right: 20px;
}

.header1 div {
  display: grid;
  grid-template-columns: auto 1fr;
}

.header1 > *:nth-child(2) {
  transform: translateX(-20%);
  font-size: 1.1em;
}

.logosize {
  width: 70px;
  height: 70px;
  padding-left: 10px;
  transform: translateX(15%);
}

.bigger {
  font-size: 1.5em;
  font-family: "Rock Salt", cursive;
  font-weight: 900;
  font-stretch: extra-expanded;
  color: whitesmoke;
  align-self: center;
  text-shadow: 2px 2px 20px red;
}

@media only screen and (min-width: 500px) {
  .header1 > *:nth-child(2) {
    transform: translateX(-20%);
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 1000px) {
  .header1 > *:nth-child(2) {
    transform: translateX(-20%);
    font-size: 2.2em;
  }
}
@media only screen and (min-width: 1500px) {
  .header1 > *:nth-child(2) {
    transform: translateX(-20%);
    font-size: 3.5em;
  }
}
footer {
  display: grid;
  grid-template-rows: auto auto;
  place-content: center;
  min-height: 20vh;
  row-gap: 20px;
  background-color: black;
}

.info {
  order: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

.copyright {
  display: grid;
  place-items: center;
  order: 1;
}

.copyright p {
  font-size: 0.7em;
}

.makeitround {
  width: 100px;
  height: 50px;
  border-radius: 20px;
}

.whitetext {
  color: whitesmoke;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.hide1 {
  display: none;
}

@media only screen and (min-width: 450px) {
  .info > *:nth-child(2) {
    display: none;
  }

  .hide1 {
    display: grid;
    color: whitesmoke;
  }
}
body {
  display: grid;
  grid-template-rows: auto;
  min-height: 100vh;
  background-color: rgb(226, 224, 222);
}

main {
  display: grid;
  grid-template-rows: auto;
  place-self: center;
  padding-top: 50px;
  row-gap: 15px;
  width: 80%;
}

main h1 {
  display: grid;
  place-self: center;
  text-align: center;
  padding: 5px;
}

main p {
  padding: 10px 5px;
}

.header1 {
  width: 100%;
}

.menuphoto {
  display: grid;
  height: 200px;
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  place-self: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.divpage {
  display: grid;
  padding: 10px 5px;
  background-color: rgb(242, 240, 240);
}

.divpage h3 {
  padding-left: 10px;
}

.divpage p {
  padding-left: 10px;
}

.pricebutton {
  display: grid;
  background-color: rgb(62, 58, 58);
  color: rgb(226, 224, 222);
  border-radius: 5px;
  height: 2.5vh;
  align-self: end;
  place-content: center;
}

.price {
  display: grid;
  align-self: end;
}

.sectionpage {
  display: grid;
  row-gap: 15px;
}

@media only screen and (min-width: 450px) {
  main {
    width: 90%;
  }

  .sectionpage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media only screen and (min-width: 850px) {
  .menuphoto {
    max-height: 75%;
    max-width: 75%;
    border-radius: 37.5%;
  }

  main {
    width: 90%;
  }
}/*# sourceMappingURL=menu.css.map */