@use "header";

$body1: rgb(226, 224, 222);
$div1: rgb(242, 240, 240);
$buttoncolor:rgb(62, 58, 58);

body {
    display: grid;
    grid-template-rows: auto;
 
    background-color: $body1;
    
}
main {
    display: grid;
    grid-template-rows: auto;
    place-self: center;
    padding-top: 50px;
    
    
    width: 80vw;
}

main h1 {
    display: grid;
    place-self: center;
    text-align: center;
    padding: 5px;
}

main p {
    padding: 10px 5px;
}

.header1 {
    width: 100%;
}

.menuphoto {
    display: grid;
    height: 200px;
    width: 90%;
    object-fit: cover;
    
    place-self: center;
    padding-top: 10px;
    padding-bottom: 15px;

}

.divpage {
    display: grid;
    padding: 10px 5px;
    background-color: $div1;
}

.divpage h3 {
    padding-left:  10px;
}
.divpage p {
    padding-left:  10px;
}
.pricebutton {
background-color: $buttoncolor;
color: $body1;
border-radius: 5px;
}

.sectionpage {
    display: grid;
    row-gap: 15px;
}