@use "header";

main {
    background-image: url("pizzaflame.jpg");
    
    background-size: cover;
    background-size: 180%;
    background-repeat: no-repeat;
    min-height: 80vh;
    
    
    
}
.moveleft {
    width: 40%;
}

