@use "header";

main {
    background-image: url("pizzaflame.jpg");
    
    background-size: cover;
    background-size: 220%;
    background-repeat: no-repeat;
    min-height: 60vh;
    
    
    
}
.moveleft {
    width: 40%;
    
    height: 50vh;
    display: grid;
    grid-template-rows: auto;
    place-content: center;
    transform: translateX(50px);
    row-gap: 40px;
    
}
.moveleft button {
    background-color: orangered;
    border-radius: 15px;
}
.moveleft p {
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    text-align: center;
    color: white;
}

.moveleft p:nth-child(2) {
    border: 0;
    border-bottom: 13px;
    border-style: solid;
    border-color: orangered;
    padding: 30px;
}


footer {
    display: grid;
    grid-template-rows: auto auto;
    place-content: center;
    min-height: 20vh;
    row-gap: 20px;
    background-color: black;
}

.info {
    order: 2;
    display: grid;
    place-items: center;
}

.copyright {
    display: grid;
    place-items: center;
    order: 1;
    
    
    
}

.copyright p {
    font-size: .7em;
}
.makeitround {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    

}
.whitetext {
    color: whitesmoke;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}

